
<div class="hw__signin-container">
   <form action="" class="hw-signin hw-signin--animated">
      <h2 class="hw-signin__title">login</h2>
      <div class="hw-signin__form-group">
         <label for="username" class="hw-signin__label">username</label>
         <input
               type="text"
                name="username"
                id="username"
                class="hw-signin__username"
                placeholder="username"
         >
      </div>
      <div class="hw-signin__form-group">
         <label for="password" class="hw-signin__label">password</label>
         <input
               type="password"
               name="password"
               id="password"
               class="hw-signin__password"
               placeholder="password"
         >
      </div>
      <div class="u-center-text">
         <button href="#" class="hw-btn
                       hw-btn--transitioned
                        hw-btn--green
                        hw-btn--medium-padding
                        hw-btn--border-radius
                        hw-btn--animated
                        hw-btn--medium-font">login</button>
      </div>

   </form>
</div>
