ds-tooltip{

  position: absolute;
  min-width: 100px;
  font-size: inherit;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  z-index: 100;
  .ds-tooltip{

    &__shadow-container{
      display: inline-block;
      position: relative;
      padding: 3px 5px;
      color: white;
      border-radius: 10px;
      visibility: hidden;
      background: rgba(0,0,0, .4) !important;
      opacity: 0;
      transition: all .5s;
      &--visible{
        visibility: visible;
        opacity: 1;
      }
    }
  }

}