


<div class="concreate-game__container">
   <h1 class="concreate-game__name">{{$ctrl.game.name}}</h1>

<div style="display: inline-block; margin-bottom: 15px;">
   <a    ng-if="+($ctrl.$stateParams.id) - 1 > 0"
         class="bw-game-card__stats-btn"
         ui-sref="game({ id: {{+($ctrl.$stateParams.id) - 1}} })"> Prev </a>
   <a    class="bw-game-card__stats-btn"
         ui-sref="game({ id: {{+($ctrl.$stateParams.id) + 1}} })"> Next </a>
</div>

   <div class="chart-container" style="position: relative; height: 100%; width: 100%;">
      <canvas id="myChart"></canvas>
   </div>

</div>

<history-table
      history="$ctrl.history"
      points="$ctrl.correctAnswers"
></history-table>
